<section class="section-indent about-us" id="about-us">
    <div class="container">
        <div class="about-us-container">
            <picture class="about-us-image">
                <source srcset="./img/about-us.webp 1x, ./img/about-us@2x.webp 2x" width="260" height="150" media="(max-width: 1439px)" />
                <source srcset="./img/about-us-desktop.webp 1x, ./img/about-us-desktop@2x.webp 2x" width="575" height="321" media="(min-width: 1440px)" />
                <img src="./img/about-us.webp" width="260" height="150" alt="car image" loading="lazy" />
            </picture>
            <div class="about-us-wrapper">
                <h2 class="section-title">Про компанію</h2>
                <p class="about-us-text">ТОВ Орхідея-Суми є великою дистриб'юторською компанією в м. Суми та Сумській області, що займається оптово-роздрібною
                торгівлею продуктами харчування з 1994р, яка покриває близько 80% роздрібної торгівлі по області та до 90% торгових
                точок у м. Суми.</p>
            </div>
        </div>
    </div>
</section>