<div class="benefits section-indent" id="benefits">
    <div class="container container-benefits">
        <h2 class="section-title title-benefits">Чому саме ми?</h2>
        <ul class="benefits-list">
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="24" aria-label="icon-delivery">
                            <use href="./img/icons.svg#icon-delivery"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Доставка</h3>
                </div>
                <p class="benefits-text">Доставка заявок як по м. Суми так і по області здійснюється протягом 24 годин власним автотранспортом.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="24" aria-label="icon-buyers">
                            <use href="./img/icons.svg#icon-buyers"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Наші покупці</h3>
                </div>
                <p class="benefits-text">Відпуск товару клієнтам надається за рекомендованими цінами виробників, розділяючи за каналами збуту.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="24" aria-label="icon-star">
                            <use href="./img/icons.svg#icon-star"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Сертифікат якості</h3>
                </div>
                <p class="benefits-text">На всі найменування товару ТОВ Охідея-Суми надає клієнтам копії сертифікатів якості з кожною поставкою товару.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="18" aria-label="icon-truck">
                            <use href="./img/icons.svg#icon-truck"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Дистриб’юція</h3>
                </div>
                <p class="benefits-text">Для забезпечення якісної процентної нумеричної дистриб'юції торговим агентам щомісяця надається план за обсягом
                продажів, а також план представленості брендів у торгових точках.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="24" aria-label="icon-control">
                            <use href="./img/icons.svg#icon-control"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Контроль</h3>
                </div>
                <p class="benefits-text">Контроль за виконанням усіх поставлених завдань здійснюється супервайзерами.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-wrapper">
                    <div class="icon-wrapper">
                        <svg class="icon-benefits" width="24" height="18" aria-label="icon-value">
                            <use href="./img/icons.svg#icon-value"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-name">Обсяг продажів</h3>
                </div>
                <p class="benefits-text">Для збільшення обсягу продажів торгових марок та зацікавленості у просуванні брендів існує програма фінансового
                стимулювання торгових агентів та проведення маркетингових заходів для покупців.</p>
            </li>
        </ul>
        <div class="benefits-slide">
            <div class="benefits-slide-wrapper">
                <p class="benefits-slide-text">Наша компанія постійно оновлює свій асортимент продукції, розширює клієнтську базу.
                Регулярно оновлюємо технічну базу та розширюємо власний автопарк.</p>
                <picture class="benefits-image">
                    <source srcset="./img/crumbs.webp 1x, ./img/crumbs@2x.webp 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/crumbs-desktop.png"
                        media="(min-width: 1440px)" />
                    <img src="./img/crumbs.webp" alt="spices image" loading="lazy" />
                </picture>
            </div>
        </div>

    </div>
</div>