<section class="contacts section-indent" id="contacts">
    <div class="container-conacts">
        <h2 class="section-title title-contacts">Зв’язатися з нами:</h2>
        <address class="page-address">
            <ul class="contacts-adress">
                <li class="contacts-adress-item">
                    <svg class="icon-contacts" width="22" height="22" aria-label="icon-map-marker">
                        <use href="./img/icons.svg#icon-map-marker"></use>
                    </svg>
                    <p class="contacts-text">40035, м. Суми, пр-т Лушпи, 15</p>
                </li>
                <li class="contacts-adress-item">
                    <svg class="icon-contacts" width="22" height="22" aria-label="icon-message">
                        <use href="./img/icons.svg#icon-message"></use>
                    </svg>
                    <a href="orkhideyasumy@ukr.net" target="_blank" class="link-email">orkhideyasumy@ukr.net</a>
                </li>
            </ul>
            <ul class="contacts-tel">
                <li class="contacts-adress-item">
                    <svg class="icon-contacts" width="22" height="22" aria-label="icon-phone">
                        <use href="./img/icons.svg#icon-phone"></use>
                    </svg>
                    <a href="tel:+380542677588" target="_blank" class="link-tel">(0542) 677-588</a>
                </li>
                <li class="contacts-adress-item">
                    <svg class="icon-contacts" width="22" height="22" aria-label="icon-phone">
                        <use href="./img/icons.svg#icon-phone"></use>
                    </svg>
                    <a href="tel:+380509580997" target="_blank" class="link-tel">+38 (050) 958-09-97</a>
                </li>
                <li class="contacts-adress-item">
                    <svg class="icon-contacts" width="22" height="22" aria-label="icon-phone">
                        <use href="./img/icons.svg#icon-phone"></use>
                    </svg>
                    <a href="tel:+380675428305" target="_blank" class="link-tel">+38 (067) 542-83-05</a>
                </li>
            </ul>
        </address>
    </div>
    
</section>