<footer class="footer">
    <div class="container">
        <nav class="nav-footer">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#about-us" class="nav-link">Компанія</a>
                </li>
                <li class="nav-item">
                    <a href="#customers" class="nav-link">Партнери</a>
                </li>
                <li class="nav-item">
                    <a href="#products" class="nav-link">Продукція</a>
                </li>
                <li class="nav-item">
                    <a href="#benefits" class="nav-link">Чому ми</a>
                </li>
                <li class="nav-item">
                    <a href="#contacts" class="nav-link">Контакти</a>
                </li>
            </ul>            
        </nav>
    </div>
</footer>