<header class="header">
  <div class="container">
    <nav class="nav">
      <img class="logo" src="./img/logo.svg" alt="logo" width="99">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link">Компанія</a>
        </li>
        <li class="nav-item">
          <a href="#customers" class="nav-link">Партнери</a>
        </li>
        <li class="nav-item">
          <a href="#products" class="nav-link">Продукція</a>
        </li>
        <li class="nav-item">
          <a href="#benefits" class="nav-link">Чому ми</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">Контакти</a>
        </li>
      </ul>
        <svg class="icon icon-burger mobile-button-menu" width="21" height="8">
          <use href='./img/icons.svg#icon-burger'></use>
        </svg>
    </nav>  
  </div>

</header>
