<section class="hero">
    <picture class="hero-image">
        <source srcset="./img/hero.webp 1x, ./img/hero@2x.webp 2x" media="(max-width: 1439px)" width="375" height="383" />
        <source srcset="./img/hero-desktop.png 1x, ./img/hero-desktop@2x.png 2x" media="(min-width: 1440px)" width="1028" height="685" />
        <img src="./img/hero.webp" width="375" height="383" alt="hero image"/>
    </picture>
    <div  class="container-hero">
        <h1 class="hero-title">Надійний дистриб'ютор кондитерських виробів в м. Суми та Сумській області</h1>
    </div>
</section>