<section class="hero">
    <picture class="hero-image">
        <source srcset="./img/hero@2x.webp" media="(max-width: 767px)" />
        <source srcset="./img/hero-tablet.png 1x, ./img/hero-tablet@2x.png 2x" media="(max-width: 1279px)" />
        <source srcset="./img/hero-desktop.png 1x, ./img/hero-desktop@2x.png 2x" media="(min-width: 1280px)" />
        <img src="./img/hero.webp" alt="hero image"/>
    </picture>
    <div  class="container-hero">
        <h1 class="hero-title">Надійний дистриб'ютор кондитерських виробів в м. Суми та Сумській області</h1>
    </div>
</section>