<div class="modal-window-mb i-open">


    <button id="close-menu-mb" aria-label="close mobile menu" class="modal-menu-close-btn" type="button">
        <svg class="modal-menu-close-btn-icon" width="28" height="28" aria-label="modal-menu-close-icon">
            <use href="./img/icons.svg#icon-close"></use>
        </svg>
    </button>

    <nav class="modal-menu-navigation">
        <img class="logo-mobile" src="./img/logo-mobile.svg" alt="logo" width="243" height="54">
        <ul class="modal-menu-list">
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="#about-us">Компанія</a>
            </li>
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="#customers">Партнери</a>
            </li>
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="#products">Продукція</a>
            </li>
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="#benefits">Чому ми</a>
            </li>
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="#contacts">Контакти</a>
            </li>
        </ul>
    </nav>

</div>