<section class="our-customers section-indent" id="customers">
    <div class="container">
        <div class="container-our-customers">
            <div class="our-customers-wrapper">
                <h2 class="section-title title-our-customers">Нам довіряють</h2>
                <p class="our-customers-text">Наразі ексклюзивне просування своїх торгових марок довірили ТОВ Орхідея-Суми такі відомі торгові марки як:</p>
            </div>
            <div class="swiper-container">
                <div class="swiper-container-customers">
                    <button class="btn btn-prev no-active">
                        <svg class="icon-arrow" width="11" height="11" aria-label="icon-arrow">
                            <use href="./img/icons.svg#icon-left"></use>
                        </svg>
                    </button>
                    <div class="swiper swiper-customers">                        
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <img  class="customers-image" src="../img/customers/dominik@2x.png" alt="dominik image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/dobry-smak@2x.png" alt="dobry-smak image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/golski@2x.png" alt="golski image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/balu@2x.png" alt="balu image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/avgustino@2x.png" alt="avgustino image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/lasoshchi@2x.webp" alt="lasoshchi image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/sweetale@2x.png" alt="sweetale image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/kbv@2x.png" alt="kbv image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/amelia@2x.png" alt="amelia image" loading="lazy" />
                            </li>
                            <li class="swiper-slide">
                                <img class="customers-image" src="../img/customers/rodina@2x.webp" alt="rodina image" loading="lazy" />
                            </li>
                        </ul>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                    <button class="btn btn-next">
                        <svg class="icon-arrow" width="11" height="11" aria-label="icon-arrow">
                            <use href="./img/icons.svg#icon-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>