<section class="products" id="products">
    <div class="container">
        <h2 class="section-title title-our-customers">Наша продукція</h2>
        <ul class="products-list">
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/candy.png 1x, ./img/products/mobile/candy@2x.png 2x" media="(max-width: 1439px)"/>
                    <source srcset="./img/products/desktop/candy-desktop.png 1x, ./img/products/desktop/candy-desktop@2x.png 2x" media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/candy.png" alt="candy image" loading="lazy" />
                </picture>
                <h3 class="products-title">Цукерки в асортименті</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/cookie.png 1x, ./img/products/mobile/cookie@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/cookie-desktop.png 1x, ./img/products/desktop/cookie-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/cookie.png" alt="cookie image" loading="lazy" />
                </picture>
                <h3 class="products-title">Печиво</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/waffles.png 1x, ./img/products/mobile/waffles@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/waffles-desktop.png 1x, ./img/products/desktop/waffles-desktop@2x.png 2x"
                        media="(min-width: 1440px)"   />
                    <img src="./img/products/mobile/waffles.png" alt="waffles image" loading="lazy" />
                </picture>
                <h3 class="products-title">Вафлі</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/gingerbread.png 1x, ./img/products/mobile/gingerbread@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/gingerbread-desktop.png 1x, ./img/products/desktop/gingerbread-desktop@2x.png 2x"
                        media="(min-width: 1440px)"   />
                    <img src="./img/products/mobile/gingerbread.png" alt="gingerbread image" loading="lazy" />
                </picture>
                <h3 class="products-title">Пряники</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/marshmallow.png 1x, ./img/products/mobile/marshmallow@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/marshmallow-desktop.png 1x, ./img/products/desktop/marshmallow-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/marshmallow.png" alt="marshmallow image" loading="lazy" />
                </picture>
                <h3 class="products-title">Зефір</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/marmalade.png 1x, ./img/products/mobile/marmalade@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/marmalade-desktop.png 1x, ./img/products/desktop/marmalade-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/marmalade.png" alt="marmalade image" loading="lazy" />
                </picture>
                <h3 class="products-title">Мармелад</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/drying.png 1x, ./img/products/mobile/drying@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/drying-desktop.png 1x, ./img/products/desktop/drying-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/drying.png" alt="drying image" loading="lazy" />
                </picture>
                <h3 class="products-title">Сушка</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/gift.png 1x, ./img/products/mobile/gift@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/gift-desktop.png 1x, ./img/products/desktop/gift-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/gift.png" alt="gift image" loading="lazy" />
                </picture>
                <h3 class="products-title">Новорічні подарунки</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/pie.png 1x, ./img/products/mobile/pie@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/pie-desktop.png 1x, ./img/products/desktop/pie-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/pie.png" alt="pie image" loading="lazy" />
                </picture>
                <h3 class="products-title">Торти</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/cakes.png 1x, ./img/products/mobile/cakes@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/cakes-desktop.png 1x, ./img/products/desktop/cakes-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/cakes.png" alt="cakes image" loading="lazy" />
                </picture>
                <h3 class="products-title">Тістечка</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/box.png 1x, ./img/products/mobile/box@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/box-desktop.png 1x, ./img/products/desktop/box-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/box.png" alt="box image" loading="lazy" />
                </picture>
                <h3 class="products-title">Цукерки в художніх коробках</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/chocolate.png 1x, ./img/products/mobile/chocolate@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/chocolate-desktop.png 1x, ./img/products/desktop/chocolate-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/chocolate.png" alt="chocolate image" loading="lazy" />
                </picture>
                <h3 class="products-title">Шоколад</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/halva.png 1x, ./img/products/mobile/halva@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source
                        srcset="./img/products/desktop/halva-desktop.png 1x, ./img/products/desktop/halva-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/halva.png" alt="halva image" loading="lazy" />
                </picture>
                <h3 class="products-title">Халва</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/snacks.png 1x, ./img/products/mobile/snacks@2x.png 2x"
                        media="(max-width: 1439px)" />
                    <source srcset="./img/products/desktop/snacks-desktop.png 1x, ./img/products/desktop/snacks-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/snacks.png" alt="snacks image" loading="lazy" />
                </picture>
                <h3 class="products-title">Снеки</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/spices.png 1x, ./img/products/mobile/spices@2x.png 2x"
                        media="(max-width: 1439px)"/>
                    <source
                        srcset="./img/products/desktop/spices-desktop.png 1x, ./img/products/desktop/spices-desktop@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <img src="./img/products/mobile/spices.png" alt="spices image" loading="lazy" />
                </picture>
                <h3 class="products-title">Спеції</h3>
            </li>
        </ul>
    </div>
</section>