<section class="products" id="products">
    <div class="container">
        <h2 class="section-title">Наша продукція</h2>
        <ul class="products-list">
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/candy.webp 1x, ./img/products/mobile/candy@2x.webp 2x" media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/candy-desktop.webp 1x, ./img/products/desktop/candy-desktop@2x.webp 2x" media="(min-width: 1440px)" width="212" height="121" />
                    <img src="./img/products/mobile/candy.webp" width="160" height="111" alt="candy image" loading="lazy" />
                </picture>
                <h3 class="products-title">Цукерки в асортименті</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/cookie.webp 1x, ./img/products/mobile/cookie@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111"  />
                    <source srcset="./img/products/desktop/cookie-desktop.webp 1x, ./img/products/desktop/cookie-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121" />
                    <img src="./img/products/mobile/cookie.webp" width="160" height="111"  alt="cookie image" loading="lazy" />
                </picture>
                <h3 class="products-title">Печиво</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/waffles.webp 1x, ./img/products/mobile/waffles@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111"  />
                    <source srcset="./img/products/desktop/waffles-desktop.webp 1x, ./img/products/desktop/waffles-desktop@2x.webp 2x"
                        media="(min-width: 1440px)"  width="212" height="121"  />
                    <img src="./img/products/mobile/waffles.webp" width="160" height="111" alt="waffles image" loading="lazy" />
                </picture>
                <h3 class="products-title">Вафлі</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/gingerbread.webp 1x, ./img/products/mobile/gingerbread@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source
                        srcset="./img/products/desktop/gingerbread-desktop.webp 1x, ./img/products/desktop/gingerbread-desktop@2x.webp 2x"
                        media="(min-width: 1440px)"  width="212" height="121"  />
                    <img src="./img/products/mobile/gingerbread.webp" width="160" height="111"  alt="gingerbread image" loading="lazy" />
                </picture>
                <h3 class="products-title">Пряники</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/marshmallow.webp 1x, ./img/products/mobile/marshmallow@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111"  />
                    <source
                        srcset="./img/products/desktop/marshmallow-desktop.webp 1x, ./img/products/desktop/marshmallow-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121" />
                    <img src="./img/products/mobile/marshmallow.webp" width="160" height="111" alt="marshmallow image" loading="lazy" />
                </picture>
                <h3 class="products-title">Зефір</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/marmalade.webp 1x, ./img/products/mobile/marmalade@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source
                        srcset="./img/products/desktop/marmalade-desktop.webp 1x, ./img/products/desktop/marmalade-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121" />
                    <img src="./img/products/mobile/marmalade.webp" width="160" height="111"  alt="marmalade image" loading="lazy" />
                </picture>
                <h3 class="products-title">Мармелад</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/drying.webp 1x, ./img/products/mobile/drying@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source
                        srcset="./img/products/desktop/drying-desktop.webp 1x, ./img/products/desktop/drying-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/drying.webp" width="160" height="111" alt="drying image" loading="lazy" />
                </picture>
                <h3 class="products-title">Сушка</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/gift.webp 1x, ./img/products/mobile/gift@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111"  />
                    <source
                        srcset="./img/products/desktop/gift-desktop.webp 1x, ./img/products/desktop/gift-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/gift.webp" width="160" height="111"  alt="gift image" loading="lazy" />
                </picture>
                <h3 class="products-title">Новорічні подарунки</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/pie.webp 1x, ./img/products/mobile/pie@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/pie-desktop.webp 1x, ./img/products/desktop/pie-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/pie.webp" width="160" height="111"  alt="pie image" loading="lazy" />
                </picture>
                <h3 class="products-title">Торти</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/cakes.webp 1x, ./img/products/mobile/cakes@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/cakes-desktop.webp 1x, ./img/products/desktop/cakes-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/cakes.webp" width="160" height="111" alt="cakes image" loading="lazy" />
                </picture>
                <h3 class="products-title">Тістечка</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/box.webp 1x, ./img/products/mobile/box@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/box-desktop.webp 1x, ./img/products/desktop/box-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/box.webp" width="160" height="111" alt="box image" loading="lazy" />
                </picture>
                <h3 class="products-title">Цукерки в художніх коробках</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/chocolate.webp 1x, ./img/products/mobile/chocolate@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/chocolate-desktop.webp 1x, ./img/products/desktop/chocolate-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/chocolate.webp" width="160" height="111" alt="chocolate image" loading="lazy" />
                </picture>
                <h3 class="products-title">Шоколад</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/halva.webp 1x, ./img/products/mobile/halva@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source
                        srcset="./img/products/desktop/halva-desktop.webp 1x, ./img/products/desktop/halva-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/halva.webp" width="160" height="111" alt="halva image" loading="lazy" />
                </picture>
                <h3 class="products-title">Халва</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/snacks.webp 1x, ./img/products/mobile/snacks@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source srcset="./img/products/desktop/snacks-desktop.webp 1x, ./img/products/desktop/snacks-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/snacks.webp" width="160" height="111" alt="snacks image" loading="lazy" />
                </picture>
                <h3 class="products-title">Снеки</h3>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./img/products/mobile/spices.webp 1x, ./img/products/mobile/spices@2x.webp 2x"
                        media="(max-width: 1439px)" width="160" height="111" />
                    <source
                        srcset="./img/products/desktop/spices-desktop.webp 1x, ./img/products/desktop/spices-desktop@2x.webp 2x"
                        media="(min-width: 1440px)" width="212" height="121"/>
                    <img src="./img/products/mobile/spices.webp" width="160" height="111" alt="spices image" loading="lazy" />
                </picture>
                <h3 class="products-title">Спеції</h3>
            </li>
        </ul>
    </div>
</section>