<section class="stores">
    <div class="container">
        <picture class="stores-image">
            <source srcset="./img/ginger.webp 1x, ./img/ginger@2x.webp 2x"
                media="(max-width: 1439px)" />
            <source srcset="./img/ginger-desctop.png 1x, ./img/ginger-desctop@2x.png 2x"
                media="(min-width: 1440px)" />
            <img src="./img/ginger.webp" alt="spices image" loading="lazy" />
        </picture>
        <h2 class="section-title title-our-customers">Наші магазини</h2>  
        <ul class="stores-list">
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <a href="https://g.co/kgs/FUvkoKK" target="_blank" class="stores-text">м. Суми, пр-т Лушпи, 22а</a>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380542604889" target="_blank" class="stores-text">0542 60-48-89</a>                           
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <a href="https://maps.app.goo.gl/tZB8VVdxdqczRPkz5" target="_blank" class="stores-text">м. Суми, пр-т Лушпи, 5</a>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380502023121" target="_blank" class="stores-text">+38 (050) 202-31-21</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <a href="https://g.co/kgs/6zZGnRZ" target="_blank" class="stores-text">м. Суми, пр-т Шевченко, 7</a>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380542251576" target="_blank" class="stores-text">0542 25-15-76</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <a href="https://g.co/kgs/wb39nBH" target="_blank" class="stores-text">м. Суми, вул. Харківська, 38</a>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+380951733606" target="_blank" class="stores-text">+38 (095) 173-36-06</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>      
    </div>
</section>