<section class="stores">
    <div class="container">
        <picture class="stores-image">
            <source srcset="./img/ginger.webp 1x, ./img/ginger@2x.webp 2x"
                media="(max-width: 1439px)" />
            <source srcset="./img/ginger-desctop.webp 1x, ./img/ginger-desctop@2x.webp 2x"
                media="(min-width: 1440px)" />
            <img src="./img/ginger.webp" alt="spices image" loading="lazy" />
        </picture>
        <h2 class="section-title">Наші магазини</h2>  
        <ul class="stores-list">
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <p class="stores-text">м. Суми, пр-т Лушпи, 22а</p>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <p class="stores-text">0542 60-48-89</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <p class="stores-text">м. Суми, пр-т Лушпи, 5</p>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <p class="stores-text">+38 (050) 202-31-21</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <p class="stores-text">м. Суми, пр-т Шевченко, 7</p>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <p class="stores-text">0542 25-15-76</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="stores-item">
                <div class="stores-item-wrapper">
                    <h3 class="stores-name">Магазин “Орхідея”</h3>
                    <div class="stores-info">
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-map-marker">
                                <use href="./img/icons.svg#icon-map-marker"></use>
                            </svg>
                            <p class="stores-text">м. Суми, вул. Харківська, 38</p>
                        </div>
                        <div class="stores-contacts">
                            <svg class="icon-stores" width="22" height="22" aria-label="icon-phone">
                                <use href="./img/icons.svg#icon-phone"></use>
                            </svg>
                            <p class="stores-text">+38 (095) 173-36-06</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>      
    </div>
</section>