.about-us-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.about-us-image {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  align-items: start;
}
.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.section-title {
  font-family: 'Magnolia Script', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.32525;
  letter-spacing: 0.02em;
  color: #5a3b2d;
  margin-bottom: 30px;
  width: 300px;
  text-align: left;
}
.about-us-text {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3f3f3d;
  width: 333px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .about-us-text {
    line-height: 1.4;
    font-size: 10px;
    width: 248px;
    letter-spacing: 0;
  }
  .about-us-image {
    margin-bottom: 0;
    /* width: 360px;
    height: 200px; */
    object-fit: cover;
  }

  .about-us-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .about-us-wrapper {
    width: 356px;
    padding: 32px 0 32px 66px;
  }
}
@media (min-width: 1280px) {
  .section-title {
    font-size: 36px;
    width: 357px;
  }
  .about-us-text {
    font-size: 14px;
    width: 412px;
  }

  .about-us-container {
    gap: 59px;
  }
  .about-us-wrapper {
    width: 497px;
    padding: 47px;
  }
}
