.header {
  padding-top: 11px;
  padding-bottom: 11px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.nav-link {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffa2a4;
  /* text-decoration: underline; */
}

@media (min-width: 1440px) {
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .logo {
    width: 183px;
  }
  .nav-list {
    display: flex;
  }
  .icon-burger {
    display: none;
  }
}
