.products-list {
  width: 343px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 35px;
}
.products-item {
  width: calc((100%-15px) / 2);
  height: 164px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.products-title {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3409;
  text-align: center;
  color: #5a3b2d;
  width: 150px;
}
.products-image {
  width: 160px;
  height: 111px;
}
@media (min-width: 1440px) {
  .products-list {
    width: 1239px;
    gap: 40px;
    row-gap: 57px;
  }
  .products-item {
    width: calc((100%-40px) / 5);
    height: 185px;
    gap: 20px;
  }
  .products-title {
    font-size: 16px;
    width: 180px;
  }
  .products-image {
    width: 212px;
    height: 121px;
  }
}
